.at-nouislider .nouislider-container {
  display: flex;
  align-items: center;
}
.at-nouislider .nouislider-container .nouislider {
  margin: 0px 25px; /* avoid handle overlapping label */
  flex-basis: 100%;
  flex-grow: 1;
}
